h2{
    /*  posstion */
    text-align: center; 
    /* text color */
    color: blueviolet;
    /* border  */
    border: 1px solid black;
    
}
/*  fonts color change */

label {
    color: green;
}
/* style with radius */

input {
    border-radius: 25px;
    }
    

/*  */
.inputfields{
    border-radius: 25px;
    }
    /*  */
.submit{
    background-color: #4CAF50;
    }
    button:hover{
    color: orange;
    }